*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Keyframes */
        /* slideRight */

        @keyframes slideRight {
            0%{
                transform: translateX(-100px);
                opacity: 0;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
        
                    /* slideTop */
        
        @keyframes slideTop {
            0%{
                transform: translateY(100px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
                /* slideBottom */
        
        @keyframes slideBottom {
            0%{
                transform: translateY(-100px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
                /* slideLeft */
        
        @keyframes slideLeft {
            0%{
                transform: translateX(100px);
                opacity: 0;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
                /* ZoomIn */
        
        @keyframes zoomIn {
            0%{
                transform: scale(0);
                opacity: 0;
            }
            100%{
                transform: scale(1);
                opacity: 1;
            }
        }
                /* floatImage */
        
        @keyframes floatImage {
            0%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(-24px);
            }
            100%{
                transform: translateY(0);
            }
        }
        /* fading on changing contents */
#home{
}
#experience{
    width: 99vw;
    height: 100vh;
    /* background: rgb(42, 113, 42); */
}
#Portfolio{
    width: 99vw;
    height: 100vh;
    /* background: rgb(24, 21, 62); */
}
#contact{
    width: 99vw;
    height: 100vh;
    background: rgb(61, 188, 192);
}
/* fading on changing contents */